Repository flomesh-io/fsm, pull requests merged in 2024-12, with the labels that each got.

#495 ci: rename workflow of building pipy euler and nonroot images
  .github/workflows/build-pipy-images.yml
Labels: github_actions

#499 ci: trigger cherry-pick/backport by labels on PR
  .github/workflows/backport.yml
  .github/workflows/cherry-pick.yml
Labels: enhancement, github_actions, needs-backport

#500 [backport] ci: trigger cherry-pick/backport by labels on PR
  .github/workflows/backport.yml
  .github/workflows/cherry-pick.yml
Labels: enhancement, github_actions

#501 fix: commit after deriving codebase and updating configs
  pkg/controllers/gateway/v1/gateway_controller.go
  pkg/gateway/processor/v2/config.go
  pkg/gateway/processor/v2/triggers.go
  pkg/manager/repo/repo.go
  pkg/repo/client.go
Labels: needs-cherry-pick, area/control-plane, area/gateway-api, change/go, kind/bug, priority/P0, size/XS

#502 [cherry-pick] fix: commit after deriving codebase and updating config…
  pkg/controllers/gateway/v1/gateway_controller.go
  pkg/gateway/processor/v2/config.go
  pkg/gateway/processor/v2/triggers.go
  pkg/manager/repo/repo.go
  pkg/repo/client.go
Labels: area/control-plane, area/gateway-api, change/go, kind/bug, priority/P0, size/XS

#503 build(deps): bump pipy from 1.5.5 to 1.5.7
  charts/fsm/README.md
  charts/fsm/values.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-ingress
  docs/tests/gateway-api/README.md
  pkg/apis/config/v1alpha3/mesh_config.go
  tests/e2e/e2e_fsm_ingress_test.go
  tests/e2e/e2e_gatewayapi_test.go
Labels: needs-backport, area/control-plane, change/denpendecies, kind/enhancement, priority/P2, size/XS

#504 [backport] build(deps): bump pipy from 1.5.5 to 1.5.7
  charts/fsm/README.md
  charts/fsm/values.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-ingress
  docs/tests/gateway-api/README.md
  pkg/apis/config/v1alpha3/mesh_config.go
  tests/e2e/e2e_fsm_ingress_test.go
  tests/e2e/e2e_gatewayapi_test.go
Labels: area/control-plane, change/denpendecies, kind/enhancement, priority/P2, size/XS

#506 build(deps): bump GatewayAPI from 1.2.0 to 1.2.1
  cmd/fsm-bootstrap/crds/backendtlspolicies.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/crds/gatewayclasses.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/crds/gateways.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/crds/grpcroutes.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/crds/httproutes.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/crds/referencegrants.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/crds/tcproutes.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/crds/tlsroutes.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/crds/udproutes.gateway.networking.k8s.io.yaml
  cmd/fsm-bootstrap/raw/gateway-api.yaml
  codegen/gen-crd-client.sh
  go.mod
  go.sum
Labels: area/control-plane, change/denpendecies, kind/enhancement, priority/P1, size/XS

#508 build(deps): bump pipy from 1.5.7 to 1.5.8
  charts/fsm/README.md
  charts/fsm/values.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-ingress
  docs/tests/gateway-api/README.md
  go.mod
  go.sum
  pkg/apis/config/v1alpha3/mesh_config.go
  tests/e2e/e2e_fsm_ingress_test.go
  tests/e2e/e2e_gatewayapi_test.go
Labels: needs-backport, area/control-plane, change/denpendecies, kind/enhancement, priority/P0, size/XS

#509 [backport] build(deps): bump pipy from 1.5.7 to 1.5.8 (#508)
  charts/fsm/README.md
  charts/fsm/values.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-ingress
  docs/tests/gateway-api/README.md
  pkg/apis/config/v1alpha3/mesh_config.go
  tests/e2e/e2e_fsm_ingress_test.go
  tests/e2e/e2e_gatewayapi_test.go
Labels: area/control-plane, change/denpendecies, kind/enhancement, priority/P1, size/XS

#514 ci: enhance the dependabot configuration
  .github/dependabot.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P2, size/XS

#516 build(deps): bump k8s APIs to v0.31.4
  codegen/gen-crd-client.sh
  go.mod
  go.sum
Labels: area/control-plane, change/denpendecies, kind/enhancement, priority/P1, size/XS

#519 [backport] build(deps): Bump docker/setup-buildx-action from 3.7.1 to 3.8.0 (#518)
  .github/workflows/build-pipy-nonroot.yml
  .github/workflows/release.yml
Labels: area/CI, change/github-settings, kind/enhancement, priority/P1, size/XS

#520 ci: fix syntax error in dependabot.yml
  .github/dependabot.yml
Labels: needs-backport, area/CI, change/github-actions, kind/bug, priority/P0, size/XS

#526 [backport] ci: fix syntax error in dependabot.yml (#520)
  .github/dependabot.yml
Labels: area/CI, change/github-actions, kind/bug, priority/P1, size/XS

#528 fix: Non-linear parsing of case-insensitive content in golang.org/x/n…
  go.mod
  go.sum
Labels: area/security, change/dependencies, kind/enhancement, priority/P0, size/XS

#529 ci: remove CodeQL workflow file
  .github/workflows/codeql-analysis.yml
Labels: needs-backport, area/CI, change/github-actions, kind/refactor, priority/P1, size/XS

#530 [backport] ci: remove CodeQL workflow file
  .github/workflows/codeql-analysis.yml
Labels: area/CI, change/github-actions, kind/refactor, priority/P1, size/XS

#531 ci: add dependency update PR to milestone v1.5.0
  .github/dependabot.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P2, size/XS

#537 ci: set open-pull-requests-limit of version updates to 10
  .github/dependabot.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#548 ci: set the frequency of version updates to daily
  .github/dependabot.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#560 ci: groups and ignores dependencies updates
  .github/dependabot.yml
Labels: needs-backport, area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#566 ci: set time and timezone for running dependabot
  .github/dependabot.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#567 ci: groups gorm dependencies together
  .github/dependabot.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#568 refactor: re-organize go dependencies in go.mod
  go.mod
Labels: area/control-plane, change/dependencies, kind/refactor, priority/P2, size/XS

#569 build(deps): bump fgw scripts to 1.5.2
  charts/fsm/components/scripts.tar.gz
  charts/fsm/components/scripts/gateways/filters/tcp/ConcurrencyLimit.js
  charts/fsm/components/scripts/gateways/filters/tcp/IPRestriction.js
  charts/fsm/components/scripts/gateways/filters/udp/DNSModifier.js
Labels: area/gateway-api, change/pjs, kind/enhancement, priority/P1, size/XS

#570 fix: one nacos connection registers a unique service instance.
  pkg/connector/discovery.go
  pkg/connector/provider/nacos.go
Labels: area/connector, change/go, kind/bug, priority/P0, size/XS

#571 [cherry-pick] fix: one nacos connection registers a unique service instance. (#570)
  pkg/connector/provider/nacos.go
Labels: area/connector, change/go, kind/bug, priority/P0, size/XS

#573 build(deps): bump github.com/cilium/ebpf from v0.16.0 to v0.17.1
  go.mod
  go.sum
Labels: area/control-plane, change/dependencies, kind/enhancement, priority/P1, size/XS

#575 fix: HoldApplicationUntilProxyStarts feature.
  pkg/messaging/broker.go
  pkg/messaging/types.go
Labels: area/service-mesh, change/go, kind/bug, priority/P0, size/XS

#576 refactor: adjust the sliding timer of Gateway
  pkg/gateway/repo/broadcast.go
Labels: area/gateway-api, change/go, kind/enhancement, priority/P1, size/XS

#577 fix: run-sidecar.sh for vm.
  pkg/injector/init_container.go
  pkg/injector/iptables.go
  pkg/injector/iptables_test.go
  scripts/vm/README.md
  scripts/vm/run-sidecar.sh
Labels: needs-cherry-pick, area/service-mesh, change/go, change/shell, kind/bug, priority/P1, size/S

#579 [cherry-pick] fix: run-sidecar.sh for vm. (#577)
  pkg/injector/init_container.go
  pkg/injector/iptables.go
  pkg/injector/iptables_test.go
  scripts/vm/README.md
  scripts/vm/run-sidecar.sh
Labels: area/service-mesh, change/go, change/shell, kind/bug, priority/P1, size/XS

#582 ci: delete DCO check workflow
  .github/workflows/dco.yml
Labels: needs-backport, area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#583 [backport] ci: delete DCO check workflow
  .github/workflows/dco.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#584 refactor: connector to support generics protocols.
  pkg/connector/cli/client.go
  pkg/connector/controller.go
  pkg/connector/ctok/source.go
  pkg/connector/ctok/syncer.go
  pkg/connector/discovery.go
  pkg/connector/ktoc/source.go
  pkg/connector/ktoc/syncer.go
  pkg/connector/metadata.go
  pkg/connector/provider/consul.go
  pkg/connector/provider/eureka.go
  pkg/connector/provider/machine.go
  pkg/connector/provider/nacos.go
  pkg/connector/provider/zookeeper.go
  pkg/connector/types.go
  pkg/sidecar/v1/providers/pipy/registry/services.go
  pkg/zookeeper/discovery/dubbo/adaptor.go
  pkg/zookeeper/discovery/dubbo/instance.go
  pkg/zookeeper/discovery/dubbo/mapfield.go
Labels: area/connector, change/go, kind/refactor, priority/P1, size/S

#586 fix: sync consul health check service
  pkg/connector/provider/consul.go
Labels: area/connector, change/go, kind/enhancement, priority/P1, size/XS

#589 ci: delete pr-title-check workflow
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-check.yml
Labels: needs-backport, area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, auto-squash

#593 [backport] docs: Update CODEOWNERS
  CODEOWNERS
Labels: area/documentation, change/configuration, kind/enhancement, priority/P1, size/XS

#591 [backport] ci: delete pr-title-check workflow
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-check.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, auto-squash

#592 [backport] ci(Mergify): configuration update (#588)
  .mergify.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, auto-squash

#594 ci: use mergify to backport/cherry-pick features
  .github/workflows/backport.yml
  .github/workflows/cherry-pick.yml
  .mergify.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, auto-squash, backport/v1.4

#596 ci: template of backport PR title
  .mergify.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, auto-squash, backport/v1.4

#597 [backport] ci: template of backport PR title (#596)
  .mergify.yml
Labels: squash

#599 ci: slash commands workflow
  .github/slash-commands-config.yml
  .github/workflows/slash-commands.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, backport/v1.4

#598 ci(Mergify): enforce linear history
  .mergify.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, backport/v1.4, auto-squash

#600 [backport] ci: slash commands workflow (#599)
  .github/slash-commands-config.yml
  .github/workflows/slash-commands.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, squash, ok-to-merge

#511 feat: migrate traffic split API from SMI
  cmd/fsm-bootstrap/crds/traffic.flomesh.io_httptrafficrules.yaml
  cmd/fsm-bootstrap/crds/traffic.flomesh.io_trafficsplits.yaml
  codegen/gen-crd-client.sh
  pkg/apis/traffic/v1alpha1/doc.go
  pkg/apis/traffic/v1alpha1/helpers.go
  pkg/apis/traffic/v1alpha1/http_route.go
  pkg/apis/traffic/v1alpha1/traffic_split.go
  pkg/apis/traffic/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/traffic/v1alpha1/zz_generated.register.go
  pkg/gen/client/traffic/clientset/versioned/clientset.go
  pkg/gen/client/traffic/clientset/versioned/fake/clientset_generated.go
  pkg/gen/client/traffic/clientset/versioned/fake/doc.go
  pkg/gen/client/traffic/clientset/versioned/fake/register.go
  pkg/gen/client/traffic/clientset/versioned/scheme/doc.go
  pkg/gen/client/traffic/clientset/versioned/scheme/register.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/doc.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/fake/doc.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/fake/fake_httptrafficrule.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/fake/fake_traffic_client.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/fake/fake_trafficsplit.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/generated_expansion.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/httptrafficrule.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/traffic_client.go
  pkg/gen/client/traffic/clientset/versioned/typed/traffic/v1alpha1/trafficsplit.go
  pkg/gen/client/traffic/informers/externalversions/factory.go
  pkg/gen/client/traffic/informers/externalversions/generic.go
  pkg/gen/client/traffic/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/gen/client/traffic/informers/externalversions/traffic/interface.go
  pkg/gen/client/traffic/informers/externalversions/traffic/v1alpha1/httptrafficrule.go
  pkg/gen/client/traffic/informers/externalversions/traffic/v1alpha1/interface.go
  pkg/gen/client/traffic/informers/externalversions/traffic/v1alpha1/trafficsplit.go
  pkg/gen/client/traffic/listers/traffic/v1alpha1/expansion_generated.go
  pkg/gen/client/traffic/listers/traffic/v1alpha1/httptrafficrule.go
  pkg/gen/client/traffic/listers/traffic/v1alpha1/trafficsplit.go
Labels: area/control-plane, area/service-mesh, change/go, kind/enhancement, priority/P1, size/S, squash, ok-to-merge

#602 fix: virtual machine monitor.
  pkg/k8s/client.go
  pkg/k8s/types.go
Labels: area/connector, change/go, kind/bug, priority/P1, size/S, squash, cherry-pick/main, ok-to-merge

#604 ci: restrict only admin user can run slash commands workflow
  .github/workflows/slash-commands.yml
Labels: area/CI, change/github-actions, kind/bug, priority/P1, size/XS, squash, backport/v1.4, ok-to-merge
