Repository flomesh-io/fsm, pull requests merged in 2025-02, with the labels that each got.

#670 fix: acl sys assignment.
  pkg/xnetwork/xnet/maps/acl.go
Labels: area/service-mesh, change/go, kind/bug, priority/P0, size/XS, squash, ok-to-merge

#671 docs: add testcase for resolving DNS
  docs/tests/gateway-api/README.md
Labels: area/documentation, kind/enhancement, priority/P1, size/XS, change/doc

#675 feat: xnet supports ipv6 traffic interception.
  dockerfiles/Dockerfile.fsm-bootstrap
  dockerfiles/Dockerfile.fsm-connector
  dockerfiles/Dockerfile.fsm-controller
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-injector
  dockerfiles/Dockerfile.fsm-preinstall
  dockerfiles/Dockerfile.fsm-xnetmgmt
  pkg/sidecar/v2/broadcast.go
  pkg/sidecar/v2/dns.go
  pkg/sidecar/v2/e4lb.go
  pkg/sidecar/v2/job.go
  pkg/xnetwork/xnet/maps/cfg.go
  pkg/xnetwork/xnet/maps/nat.go
  pkg/xnetwork/xnet/maps/types.go
  pkg/xnetwork/xnet/util/ip.go
Labels: area/service-mesh, change/go, kind/enhancement, priority/P1, size/M

#684 fix(v1.4): generate consistent unique key for filters
  pkg/gateway/processor/v2/gateway.go
  pkg/gateway/processor/v2/grpcroute.go
  pkg/gateway/processor/v2/httproute.go
  pkg/gateway/processor/v2/utils.go
Labels: area/gateway-api, change/go, kind/bug, priority/P0, size/S

#683 fix: generate consistent unique key for filters
  pkg/gateway/processor/v2/gateway.go
  pkg/gateway/processor/v2/grpcroute.go
  pkg/gateway/processor/v2/httproute.go
  pkg/gateway/processor/v2/tcproute.go
  pkg/gateway/processor/v2/udproute.go
  pkg/gateway/processor/v2/utils.go
Labels: area/gateway-api, change/go, kind/bug, priority/P0, size/S, squash, ok-to-merge

#686 feat(v1.4): incremental update gateway codebase
  pkg/gateway/processor/v2/config.go
  pkg/gateway/processor/v2/gateway.go
  pkg/gateway/processor/v2/grpcroute.go
  pkg/gateway/processor/v2/httproute.go
  pkg/gateway/processor/v2/processor.go
  pkg/gateway/processor/v2/utils.go
  pkg/ingress/providers/pipy/cache/cache.go
  pkg/manager/repo/repo.go
  pkg/manager/utils/util.go
  pkg/repo/client.go
Labels: area/gateway-api, change/go, kind/enhancement, priority/P0, size/M

#692 fix: qemu: uncaught target signal 11 (Segmentation fault) - core dumped
  dockerfiles/Dockerfile.fsm-xnetmgmt
Labels: area/CI, change/configuration, kind/bug, priority/P0, size/XS

#693 build(deps): bump external Dockerfile frontend to latest 1.x
  dockerfiles/Dockerfile.fsm-bootstrap
  dockerfiles/Dockerfile.fsm-connector
  dockerfiles/Dockerfile.fsm-controller
  dockerfiles/Dockerfile.fsm-crds
  dockerfiles/Dockerfile.fsm-curl
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-healthcheck
  dockerfiles/Dockerfile.fsm-ingress
  dockerfiles/Dockerfile.fsm-injector
  dockerfiles/Dockerfile.fsm-preinstall
  dockerfiles/Dockerfile.fsm-sidecar-init
  dockerfiles/Dockerfile.fsm-xnetmgmt
  dockerfiles/Dockerfile.pipy-debian
  dockerfiles/Dockerfile.pipy-nonroot
Labels: area/control-plane, change/dependencies, kind/enhancement, priority/P1, size/XS, squash, ok-to-merge

#696 feat: support calico vxlan.
  .github/workflows/main.yml
  charts/fsm/README.md
  charts/fsm/templates/_helpers.tpl
  charts/fsm/templates/fsm-xnetwork.yaml
  charts/fsm/templates/preset-mesh-config.yaml
  charts/fsm/values.schema.json
  charts/fsm/values.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  cmd/fsm-xnetmgmt/fsm-xnetmgmt.go
  pkg/apis/config/v1alpha3/mesh_config.go
  pkg/apis/config/v1alpha3/zz_generated.deepcopy.go
  pkg/configurator/methods.go
  pkg/configurator/mock_client_generated.go
  pkg/configurator/types.go
  pkg/manager/listeners/client.go
  pkg/messaging/broker.go
  pkg/sidecar/v2/bridge.go
  pkg/sidecar/v2/dns.go
  pkg/sidecar/v2/e4lb.go
  pkg/sidecar/v2/server.go
  pkg/sidecar/v2/types.go
  pkg/sidecar/v2/xnat.go
  pkg/xnetwork/xnet/maps/types.go
Labels: area/service-mesh, change/go, kind/enhancement, priority/P1, size/S, squash, ok-to-merge

#697 fix: InvalidDefaultArgInFrom
  dockerfiles/Dockerfile.demo
  dockerfiles/Dockerfile.fsm-bootstrap
  dockerfiles/Dockerfile.fsm-connector
  dockerfiles/Dockerfile.fsm-controller
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-healthcheck
  dockerfiles/Dockerfile.fsm-ingress
  dockerfiles/Dockerfile.fsm-injector
  dockerfiles/Dockerfile.fsm-preinstall
  dockerfiles/Dockerfile.fsm-xnetmgmt
Labels: area/control-plane, change/configuration, kind/enhancement, priority/P0, size/XS, squash, ok-to-merge

#700 ci: fix deprecated goreleaser config properties
  .goreleaser.yaml
Labels: area/CI, change/configuration, kind/enhancement, priority/P0, size/XS

#711 ci: dispatch fsm-release event to flomesh-io/xnet
  .github/workflows/release.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS, squash, ok-to-merge

#712 ci: fix PAT for repository dispatch event
  .github/workflows/release.yml
Labels: area/CI, change/github-actions, kind/bug, priority/P0, size/XS

#713 feat: support registration and discovery of http services based on zookeeper
  charts/gateway/templates/daemonset.yaml
  pkg/connector/ctok/source.go
  pkg/connector/ctok/syncer.go
  pkg/connector/discovery.go
  pkg/connector/ktoc/source.go
  pkg/connector/metadata.go
  pkg/connector/provider/zookeeper.go
  pkg/k8s/client.go
  pkg/zookeeper/discovery/k8s/adaptor.go
  pkg/zookeeper/discovery/k8s/instance.go
  pkg/zookeeper/discovery/k8s/mapfield.go
Labels: area/connector, change/go, kind/enhancement, priority/P1, size/L, squash, ok-to-merge

#714 fix: Gateway Parameter Priority and Updating
  cmd/fsm-controller/fsm-controller.go
  pkg/controllers/gateway/v1/gateway_controller.go
  pkg/controllers/gateway/v1/gateway_methods.go
  pkg/helm/helm.go
Labels: area/gateway-api, change/go, kind/bug, priority/P0, size/S, squash, ok-to-merge

#715 feat: support Int type image tag
  charts/connector/templates/_helpers.tpl
  charts/connector/values.schema.json
  charts/fsm/templates/_helpers.tpl
  charts/fsm/values.schema.json
  charts/gateway/templates/_helpers.tpl
  charts/namespaced-ingress/templates/_helpers.tpl
Labels: area/control-plane, change/helm-chart, kind/enhancement, priority/P0, size/S, squash, ok-to-merge

#721 feat: change connector scope from cluster to namespace.
  charts/connector/README.md
  charts/connector/templates/deployment.yaml
  charts/connector/values.schema.json
  charts/connector/values.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_consulconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_eurekaconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_gatewayconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_machineconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_nacosconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_zookeeperconnectors.yaml
  cmd/fsm-connector/fsm-connector.go
  pkg/apis/connector/v1alpha1/consul.go
  pkg/apis/connector/v1alpha1/eureka.go
  pkg/apis/connector/v1alpha1/gateway.go
  pkg/apis/connector/v1alpha1/machine.go
  pkg/apis/connector/v1alpha1/nacos.go
  pkg/apis/connector/v1alpha1/zookeeper.go
  pkg/connector/cli/client.go
  pkg/connector/cli/flags.go
  pkg/connector/cli/types.go
  pkg/connector/controller.go
  pkg/controllers/connector/v1alpha1/types.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/connector_client.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/consulconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/eurekaconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/fake/fake_connector_client.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/fake/fake_consulconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/fake/fake_eurekaconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/fake/fake_gatewayconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/fake/fake_machineconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/fake/fake_nacosconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/fake/fake_zookeeperconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/gatewayconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/machineconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/nacosconnector.go
  pkg/gen/client/connector/clientset/versioned/typed/connector/v1alpha1/zookeeperconnector.go
  pkg/gen/client/connector/informers/externalversions/connector/v1alpha1/consulconnector.go
  pkg/gen/client/connector/informers/externalversions/connector/v1alpha1/eurekaconnector.go
  pkg/gen/client/connector/informers/externalversions/connector/v1alpha1/gatewayconnector.go
  pkg/gen/client/connector/informers/externalversions/connector/v1alpha1/interface.go
  pkg/gen/client/connector/informers/externalversions/connector/v1alpha1/machineconnector.go
  pkg/gen/client/connector/informers/externalversions/connector/v1alpha1/nacosconnector.go
  pkg/gen/client/connector/informers/externalversions/connector/v1alpha1/zookeeperconnector.go
  pkg/gen/client/connector/listers/connector/v1alpha1/consulconnector.go
  pkg/gen/client/connector/listers/connector/v1alpha1/eurekaconnector.go
  pkg/gen/client/connector/listers/connector/v1alpha1/expansion_generated.go
  pkg/gen/client/connector/listers/connector/v1alpha1/gatewayconnector.go
  pkg/gen/client/connector/listers/connector/v1alpha1/machineconnector.go
  pkg/gen/client/connector/listers/connector/v1alpha1/nacosconnector.go
  pkg/gen/client/connector/listers/connector/v1alpha1/zookeeperconnector.go
Labels: area/connector, change/go, change/helm-chart, kind/refactor, priority/P1, size/M, squash, ok-to-merge
