Repository flomesh-io/fsm, pull requests merged in 2025-05, with the labels that each got.

#838 ci: dependabot default assign created PR to milestone v1.6.0
  .github/dependabot.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#842 [backport] build(deps): Bump golangci/golangci-lint-action from 7 to 8
  .github/workflows/main.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#848 fix: ha issues.
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/providers/kube/client.go
  pkg/providers/kube/client_test.go
  pkg/sidecar/v1/providers/pipy/driver/sidecar.go
  pkg/sidecar/v1/providers/pipy/registry/services.go
Labels: area/service-mesh, change/go, kind/bug, priority/P1, size/S

#847 fix: ha issues.(release/v1.4)
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/providers/kube/client.go
  pkg/providers/kube/client_test.go
  pkg/sidecar/providers/pipy/driver/sidecar.go
  pkg/sidecar/providers/pipy/registry/services.go
Labels: area/service-mesh, change/go, kind/bug, priority/P1, size/XS

#856 fix: node network unavailable check.
  pkg/sidecar/v2/nodes.go
Labels: area/service-mesh, change/go, kind/bug, priority/P0, size/M

#853 fix: CRD compatibility
  .github/workflows/main.yml
  .mergify.yml
  Makefile
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshrootcertificates.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_consulconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_eurekaconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_gatewayconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_machineconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_nacosconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_zookeeperconnectors.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_circuitbreakers.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_concurrencylimits.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_dnsmodifiers.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_externalratelimits.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_faultinjections.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_filterconfigs.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_filterdefinitions.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_filters.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_httplogs.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_iprestrictions.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_listenerfilters.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_metrics.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_proxytags.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_ratelimits.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_requestterminations.yaml
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_zipkins.yaml
  cmd/fsm-bootstrap/crds/gateway.flomesh.io_backendlbpolicies.yaml
  cmd/fsm-bootstrap/crds/gateway.flomesh.io_healthcheckpolicies.yaml
  cmd/fsm-bootstrap/crds/gateway.flomesh.io_routerulefilterpolicies.yaml
  cmd/fsm-bootstrap/crds/machine.flomesh.io_virtualmachines.yaml
  cmd/fsm-bootstrap/crds/multicluster.flomesh.io_clusters.yaml
  cmd/fsm-bootstrap/crds/multicluster.flomesh.io_globaltrafficpolicies.yaml
  cmd/fsm-bootstrap/crds/multicluster.flomesh.io_serviceexports.yaml
  cmd/fsm-bootstrap/crds/multicluster.flomesh.io_serviceimports.yaml
  cmd/fsm-bootstrap/crds/networking.flomesh.io_namespacedingresses.yaml
  cmd/fsm-bootstrap/crds/plugin.flomesh.io_pluginchains.yaml
  cmd/fsm-bootstrap/crds/plugin.flomesh.io_pluginconfigs.yaml
  cmd/fsm-bootstrap/crds/plugin.flomesh.io_plugins.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_accesscerts.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_accesscontrols.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_egresses.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_egressgateways.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_ingressbackends.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_isolations.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_retries.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_trafficwarmups.yaml
  cmd/fsm-bootstrap/crds/policy.flomesh.io_upstreamtrafficsettings.yaml
  cmd/fsm-bootstrap/crds/traffic.flomesh.io_httptrafficrules.yaml
  cmd/fsm-bootstrap/crds/traffic.flomesh.io_trafficsplits.yaml
  cmd/fsm-bootstrap/crds/xnetwork.flomesh.io_accesscontrols.yaml
  cmd/fsm-bootstrap/crds/xnetwork.flomesh.io_eipadvertisements.yaml
Labels: area/control-plane, change/configuration, kind/enhancement, priority/P0, size/M, backport/v1.5

#857 [cherry-pick] fix: node network unavailable check. (#856)
  pkg/sidecar/v2/nodes.go
Labels: area/service-mesh, change/go, kind/bug, priority/P1, size/M

#851 [backport] build(deps): Bump golang.org/x/sync from 0.13.0 to 0.14.0 (#845)
  go.mod
  go.sum
Labels: area/control-plane, change/dependencies, kind/enhancement, priority/P1, size/XS, backport/v1.5

#850 [cherry-pick] fix: ha issues. (#848)
  pkg/k8s/client.go
  pkg/k8s/client_test.go
  pkg/providers/kube/client.go
  pkg/providers/kube/client_test.go
  pkg/sidecar/v1/providers/pipy/driver/sidecar.go
  pkg/sidecar/v1/providers/pipy/registry/services.go
Labels: area/service-mesh, change/go, kind/bug, priority/P1, size/S

#852 [backport] build(deps): Bump github.com/hashicorp/consul/api from 1.32.0 to 1.32…
  go.mod
  go.sum
Labels: area/control-plane, change/dependencies, kind/enhancement, priority/P1, size/XS

#874 fix: choose ports(release/v1.5).
  pkg/connector/ktoc/source.go
Labels: area/connector, change/go, kind/bug, priority/P0, size/XS, cherry-pick/main

#877 [backport] build(deps): Bump github.com/nacos-group/nacos-sdk-go/v2 from 2.2.9 to 2.3.0
  go.mod
  go.sum
Labels: area/control-plane, change/dependencies, kind/enhancement, priority/P1, size/XS

#906 test: fix retry e2e test frequently failed issue
  .github/workflows/main.yml
  .mergify.yml
  tests/e2e/e2e_retry_policy_test.go
  tests/framework/common_traffic.go
Labels: change/go, kind/enhancement, priority/P1, size/XS, area/test, backport/v1.5
