Repository flomesh-io/fsm, pull requests merged in 2025-06, with the labels that each got.

#911 ci: add LOAD_IMAGES_INTO_CLUSTER variable to control image loading behavior
  .github/workflows/e2e.yml
  tests/e2e/e2e_retry_policy_test.go
Labels: area/CI, change/github-actions, kind/bug, priority/P0, size/XS, backport/v1.5

#927 fix: Incorrect conversion between integer types
  pkg/connector/ktoc/source.go
  pkg/connector/provider/nacos.go
Labels: area/connector, change/go, kind/enhancement, priority/P1, size/XS, backport/v1.5

#935 build(deps): bump pipy from 1.5.10 to 1.5.12
  charts/fsm/README.md
  charts/fsm/values.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-ingress
  docs/tests/gateway-api/README.md
  pkg/apis/config/v1alpha3/mesh_config.go
  pkg/configurator/methods_test.go
  scripts/k3d-multicluster-deploy-apps.sh
  tests/e2e/e2e_fsm_ingress_test.go
  tests/e2e/e2e_gatewayapi_test.go
Labels: area/control-plane, change/go, kind/enhancement, priority/P1, size/XS, backport/v1.5

#939 fix: correct condition check for Gateway DaemonSet scheduling
  pkg/controllers/gateway/v1/gateway_controller.go
Labels: area/gateway-api, change/go, kind/enhancement, priority/P1, size/XS, backport/v1.5

#945 fix: dns proxy.
  pkg/dns/handler.go
Labels: area/connector, change/go, kind/bug, priority/P1, size/XS

#946 fix: dns proxy.(release/v1.5)
  pkg/dns/handler.go
Labels: area/connector, change/go, kind/bug, priority/P1, size/XS, merge, cherry-pick/main

#948 fix: update release permissions to allow write access for contents
  .github/workflows/release.yml
Labels: area/CI, change/github-actions, kind/bug, priority/P0, size/XS, backport/v1.5

#953 fix: cleanup files hash when gateway is deleted
  pkg/gateway/processor/mock_processor_generated.go
  pkg/gateway/processor/triggers/gateway/gateways_trigger.go
  pkg/gateway/processor/types.go
  pkg/gateway/processor/v2/processor.go
Labels: area/gateway-api, change/go, kind/bug, priority/P0, size/S, cherry-pick/main

#961 fix: repeated deploy connectors after controller restarts.
  pkg/connector/ktoc/source.go
  pkg/controllers/connector/v1alpha1/consul_controller.go
  pkg/controllers/connector/v1alpha1/eureka_controller.go
  pkg/controllers/connector/v1alpha1/gateway_controller.go
  pkg/controllers/connector/v1alpha1/machine_controller.go
  pkg/controllers/connector/v1alpha1/nacos_controller.go
  pkg/controllers/connector/v1alpha1/types.go
  pkg/controllers/connector/v1alpha1/zookeeper_controller.go
Labels: area/connector, change/go, kind/bug, priority/P0, size/S, cherry-pick/main

#965 feat: filterLabels and filterAnnotations for KtoCSource.
  cmd/fsm-bootstrap/crds/connector.flomesh.io_consulconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_eurekaconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_nacosconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_zookeeperconnectors.yaml
  pkg/apis/connector/v1alpha1/consul.go
  pkg/apis/connector/v1alpha1/eureka.go
  pkg/apis/connector/v1alpha1/nacos.go
  pkg/apis/connector/v1alpha1/zookeeper.go
  pkg/apis/connector/v1alpha1/zz_generated.deepcopy.go
  pkg/connector/cli/config.go
  pkg/connector/controller.go
  pkg/connector/ktoc/source.go
Labels: area/connector, change/go, kind/enhancement, priority/P1, size/S, cherry-pick/main
