Repository flomesh-io/fsm, pull requests merged in 2025-07, with the labels that each got.

#980 build(deps): update helm.sh/helm/v3 to v3.18.3
  Makefile
  go.mod
  go.sum
Labels: area/control-plane, change/dependencies, kind/enhancement, priority/P2, size/XS, backport/v1.5

#994 fix: eureka register cache(release/1.5).
  pkg/connector/provider/eureka.go
Labels: area/connector, change/go, kind/bug, priority/P0, size/S, cherry-pick/main

#1008 fix: improve PIPY process management and logging in fsm-gateway
  cmd/fsm-gateway/fsm-gateway.go
Labels: area/gateway-api, change/go, kind/enhancement, priority/P1, size/S, backport/v1.5

#1011 fix: issues
  pkg/connector/ktoc/source.go
  pkg/connector/provider/eureka.go
  pkg/sidecar/v2/broadcast.go
  pkg/sidecar/v2/e4lb.go
  pkg/sidecar/v2/probe.go
  pkg/xnetwork/xnet/route/arping_linux.go
Labels: area/connector, change/go, kind/bug, priority/P0, size/S, cherry-pick/main
