Repository flomesh-io/fsm, pull requests merged in 2025-03, with the labels that each got.

#727 test: write k3d node logs to stdout if needed
  pkg/utils/env.go
  tests/framework/common.go
  tests/framework/types.go
Labels: change/go, kind/enhancement, priority/P1, size/M, area/test

#723 ci: reusable workflow
  .github/workflows/build-pipy-images.yml
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .github/workflows/release-chart.yml
  .github/workflows/release-image.yml
  .github/workflows/release.yml
  .github/workflows/slash-commands.yml
  .github/workflows/stale.yml
  .mergify.yml
  Makefile
Labels: area/CI, change/github-actions, kind/refactor, priority/P1, size/S

#728 fix: release workflow
  .github/workflows/release-image.yml
  .github/workflows/release.yml
Labels: area/CI, change/github-actions, kind/bug, priority/P0, size/XS, squash, ok-to-merge

#733 fix: cluster ip selector for k8s 1.19
  pkg/connector/cli/sync.go
Labels: area/connector, change/go, kind/enhancement, priority/P1, size/XS

#732 fix: mergify config of auto merging
  .mergify.yml
Labels: area/CI, change/configuration, kind/bug, priority/P0, size/XS

#741 ci: default values for github action environment variables
  .github/workflows/e2e.yml
  .github/workflows/main.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P0, size/XS

#740 feat: optimize xnetwork build and start args for versions of kernel.
  .github/workflows/release-image.yml
  .github/workflows/release.yml
  charts/fsm/README.md
  charts/fsm/templates/_helpers.tpl
  charts/fsm/templates/fsm-xnetwork.yaml
  charts/fsm/values.schema.json
  charts/fsm/values.yaml
Labels: area/service-mesh, change/go, kind/enhancement, priority/P0, size/M

#742 fix: cross cluster endpoints for k8s 1.19
  pkg/gateway/processor/v2/backends.go
Labels: area/connector, change/go, kind/enhancement, priority/P0, size/S, squash, cherry-pick/main, ok-to-merge

#739 build(deps): bump golang version from 1.23 to 1.24
  Dockerfile
  Makefile
  go.mod
  pkg/certificate/providers/config_test.go
  pkg/health/health.go
  pkg/mcs/remote/types.go
  scripts/test-w-coverage.sh
  tests/framework/common.go
Labels: area/devel, change/configuration, kind/enhancement, priority/P1, size/XS

#744 feat: gateway readiness probe
  charts/gateway/templates/daemonset.yaml
  charts/gateway/templates/deployment.yaml
  cmd/fsm-gateway/fsm-gateway.go
  pkg/constants/constants.go
  pkg/controllers/gateway/v1/gateway_controller.go
  pkg/gateway/processor/triggers/gateway/gateways_trigger.go
  pkg/gateway/processor/v2/config.go
  pkg/gateway/utils/gateway.go
Labels: area/gateway-api, change/go, change/helm-chart, kind/enhancement, priority/P0, size/S

#745 [backport] feat: gateway readiness probe
  charts/gateway/templates/deployment.yaml
  cmd/fsm-gateway/fsm-gateway.go
  pkg/constants/constants.go
  pkg/controllers/gateway/v1/gateway_controller.go
  pkg/gateway/processor/triggers/gateway/gateways_trigger.go
  pkg/gateway/processor/v2/config.go
  pkg/gateway/utils/gateway.go
Labels: area/gateway-api, change/go, change/helm-chart, kind/enhancement, priority/P0, size/S

#746 feat: support setting xnet config by magic
  charts/fsm/README.md
  charts/fsm/templates/fsm-xnetwork.yaml
  charts/fsm/values.schema.json
  charts/fsm/values.yaml
Labels: area/service-mesh, change/configuration, kind/enhancement, priority/P1, size/XS

#748 fix: replace hardcoded repository owner with context value
  .github/workflows/e2e.yml
  .github/workflows/ghcr.yml
  .github/workflows/main.yml
  scripts/k3d-with-registry.sh
  tests/framework/k3d-cluster.yaml
Labels: area/CI, change/configuration, change/github-actions, change/shell, kind/bug, priority/P0, size/XS

#749 feat: increase failureThreshold of gateway startup probe
  charts/gateway/templates/daemonset.yaml
  charts/gateway/templates/deployment.yaml
Labels: area/gateway-api, change/helm-chart, kind/enhancement, priority/P1, size/XS

#753 feat: new config format for DNSModifier filter
  cmd/fsm-bootstrap/crds/extension.gateway.flomesh.io_dnsmodifiers.yaml
  pkg/apis/extension/v1alpha1/dnsmodifier.go
  pkg/apis/extension/v1alpha1/zz_generated.deepcopy.go
  pkg/gateway/processor/v2/filters.go
  pkg/webhook/extension/v1alpha1/dnsmodifier.go
  tests/e2e/e2e_gatewayapi_test.go
Labels: area/gateway-api, change/go, kind/enhancement, priority/P1, size/S

#755 feat: try to upload/download docker image tar ball and load into docker between steps
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .github/workflows/release-image.yml
  .github/workflows/release.yml
  Makefile
  ci/cmd/maestro.go
  ci/cmd/maestro/kubernetes_tools.go
  demo/cmd/bookwarehouse/bookwarehouse.go
  demo/cmd/common/books.go
  demo/cmd/database/mysql.go
  demo/run-fsm-demo.sh
  go.mod
  go.sum
  scripts/k3d-with-registry.sh
  tests/framework/k3d-cluster.yaml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P0, size/M

#759 feat: handle empty filter config
  pkg/gateway/processor/v2/filters.go
Labels: area/gateway-api, change/go, kind/enhancement, priority/P1, size/XS

#761 ci: exclude fsm-demo-*.tar from loading into docker for e2e test
  .github/workflows/e2e.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#763 feat: support metadata conversion strategy.
  cmd/fsm-bootstrap/crds/connector.flomesh.io_consulconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_eurekaconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_nacosconnectors.yaml
  dockerfiles/Dockerfile.demo
  dockerfiles/Dockerfile.fsm-bootstrap
  dockerfiles/Dockerfile.fsm-connector
  dockerfiles/Dockerfile.fsm-controller
  dockerfiles/Dockerfile.fsm-crds
  dockerfiles/Dockerfile.fsm-curl
  dockerfiles/Dockerfile.fsm-healthcheck
  dockerfiles/Dockerfile.fsm-injector
  dockerfiles/Dockerfile.fsm-interceptor
  dockerfiles/Dockerfile.fsm-preinstall
  dockerfiles/Dockerfile.fsm-sidecar-init
  pkg/apis/connector/v1alpha1/consul.go
  pkg/apis/connector/v1alpha1/eureka.go
  pkg/apis/connector/v1alpha1/nacos.go
  pkg/apis/connector/v1alpha1/types.go
  pkg/apis/connector/v1alpha1/zz_generated.deepcopy.go
  pkg/connector/cli/config.go
  pkg/connector/controller.go
  pkg/connector/ctok/source.go
  pkg/connector/ctok/syncer.go
  pkg/connector/ctok/types.go
Labels: area/connector, change/go, change/helm-chart, kind/enhancement, priority/P1, size/XS

#767 fix: synchronization service removes externalname service type.
  cmd/fsm-bootstrap/crds/connector.flomesh.io_consulconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_eurekaconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_machineconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_nacosconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_zookeeperconnectors.yaml
  pkg/apis/connector/v1alpha1/consul.go
  pkg/apis/connector/v1alpha1/eureka.go
  pkg/apis/connector/v1alpha1/nacos.go
  pkg/apis/connector/v1alpha1/types.go
  pkg/apis/connector/v1alpha1/zookeeper.go
  pkg/apis/connector/v1alpha1/zz_generated.deepcopy.go
  pkg/connector/cli/config.go
  pkg/connector/context.go
  pkg/connector/controller.go
  pkg/connector/ctok/aggregate.go
  pkg/connector/ctok/job.go
  pkg/connector/ctok/source.go
  pkg/connector/ctok/syncer.go
  pkg/connector/ctok/types.go
  pkg/connector/metadata.go
Labels: area/connector, change/go, kind/enhancement, priority/P1, size/S

#768 ci: free disk space controlled by action variables
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .github/workflows/release-image.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#771 ci: use github hosted arm64 runner
  .github/workflows/build-pipy-images.yml
Labels: area/CI, change/github-actions, kind/enhancement, priority/P0, size/XS

#772 build(deps): bump pipy from 1.5.9 to 1.5.10
  charts/fsm/README.md
  charts/fsm/values.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-ingress
  docs/tests/gateway-api/README.md
  pkg/apis/config/v1alpha3/mesh_config.go
  tests/e2e/e2e_fsm_ingress_test.go
  tests/e2e/e2e_gatewayapi_test.go
Labels: area/control-plane, change/configuration, change/dependencies, change/go, kind/enhancement, priority/P0, size/S

#773 build(deps): bump pipy from 1.5.9 to 1.5.10(release-v1.4)
  charts/fsm/README.md
  charts/fsm/values.yaml
  cmd/fsm-bootstrap/crds/config.flomesh.io_meshconfigs.yaml
  dockerfiles/Dockerfile.fsm-gateway
  dockerfiles/Dockerfile.fsm-ingress
  docs/tests/gateway-api/README.md
  pkg/apis/config/v1alpha3/mesh_config.go
  tests/e2e/e2e_fsm_ingress_test.go
  tests/e2e/e2e_gatewayapi_test.go
Labels: area/control-plane, change/configuration, change/dependencies, change/go, kind/enhancement, priority/P0, size/S

#774 ci: improve the performance by only download required images at each job
  .github/workflows/e2e.yml
  .github/workflows/main.yml
Labels: area/CI, change/github-actions, kind/performance, priority/P1, size/S

#776 ci: simplify trivy scan images workflow
  .github/workflows/main.yml
  Makefile
Labels: area/CI, change/github-actions, kind/enhancement, priority/P1, size/XS

#775 feat: support to append labels and annotations to synchronization services.
  cmd/fsm-bootstrap/crds/connector.flomesh.io_consulconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_eurekaconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_machineconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_nacosconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_zookeeperconnectors.yaml
  pkg/apis/connector/v1alpha1/consul.go
  pkg/apis/connector/v1alpha1/eureka.go
  pkg/apis/connector/v1alpha1/machine.go
  pkg/apis/connector/v1alpha1/nacos.go
  pkg/apis/connector/v1alpha1/zookeeper.go
  pkg/apis/connector/v1alpha1/zz_generated.deepcopy.go
  pkg/connector/cli/config.go
  pkg/connector/controller.go
  pkg/connector/ctok/aggregate.go
  pkg/connector/ktoc/source.go
  pkg/connector/provider/consul.go
  pkg/connector/provider/eureka.go
  pkg/connector/provider/nacos.go
  pkg/controllers/connector/v1alpha1/consul_controller.go
  pkg/controllers/connector/v1alpha1/eureka_controller.go
  pkg/controllers/connector/v1alpha1/gateway_controller.go
  pkg/controllers/connector/v1alpha1/machine_controller.go
  pkg/controllers/connector/v1alpha1/nacos_controller.go
  pkg/controllers/connector/v1alpha1/types.go
  pkg/controllers/connector/v1alpha1/zookeeper_controller.go
  pkg/sidecar/v1/providers/pipy/repo/jobs.go
Labels: area/connector, change/go, kind/enhancement, priority/P1, size/M

#777 feat: support to append labels and annotations to synchronization services(release-v1.4).
  cmd/fsm-bootstrap/crds/connector.flomesh.io_consulconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_eurekaconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_machineconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_nacosconnectors.yaml
  pkg/apis/connector/v1alpha1/consul.go
  pkg/apis/connector/v1alpha1/eureka.go
  pkg/apis/connector/v1alpha1/machine.go
  pkg/apis/connector/v1alpha1/nacos.go
  pkg/apis/connector/v1alpha1/zz_generated.deepcopy.go
  pkg/connector/cli/config.go
  pkg/connector/controller.go
  pkg/connector/ctok/source.go
  pkg/connector/ctok/syncer.go
  pkg/connector/ktoc/source.go
  pkg/connector/provider/consul.go
  pkg/connector/provider/eureka.go
  pkg/connector/provider/nacos.go
  pkg/sidecar/providers/pipy/repo/jobs.go
Labels: area/connector, change/go, kind/enhancement, priority/P1, size/S

#779 [backport]fix: Gateway Parameter Priority and Updating
  cmd/fsm-controller/fsm-controller.go
  pkg/controllers/gateway/v1/gateway_controller.go
  pkg/helm/helm.go
Labels: area/gateway-api, change/go, kind/bug, priority/P0, size/S

#783 fix: monitor for dns proxy upstreams.
  pkg/k8s/client.go
  pkg/k8s/mock_controller_generated.go
  pkg/k8s/types.go
  pkg/sidecar/v2/dns.go
  pkg/sidecar/v2/server.go
Labels: area/service-mesh, change/go, kind/enhancement, priority/P1, size/S

#785 fix: connector retries.
  go.mod
  pkg/connector/ctok/source.go
  pkg/connector/ktoc/syncer.go
Labels: area/connector, change/go, kind/bug, priority/P1, size/S

#784 build(deps): bump fgw from 1.5.3 to 1.5.4
  charts/fsm/components/scripts.tar.gz
  charts/fsm/components/scripts/gateways/filters/tcp/ProxyAccept.js
  charts/fsm/components/scripts/gateways/filters/tcp/TCPForward.js
  charts/fsm/components/scripts/gateways/modules/balancer-dubbo.js
  charts/fsm/components/scripts/gateways/modules/router-dubbo.js
  charts/fsm/components/scripts/gateways/startup.js
Labels: area/gateway-api, change/pjs, kind/enhancement, priority/P1, size/XS

#786 fix: connector retries(release-v1.4).
  go.mod
  pkg/connector/ctok/source.go
  pkg/connector/ktoc/syncer.go
Labels: area/connector, change/go, kind/bug, priority/P1, size/M

#787 fix: dns proxy upstream selection.
  pkg/sidecar/v2/dns.go
Labels: area/service-mesh, change/go, kind/bug, priority/P0, size/XS

#793 feat: support ipv6 dns traffic interception.
  pkg/sidecar/v2/acl.go
  pkg/sidecar/v2/dns.go
  pkg/sidecar/v2/server.go
Labels: area/service-mesh, change/go, kind/enhancement, priority/P1, size/S

#796 fix: compatible with nacos server config
  pkg/connector/provider/nacos.go
  pkg/sidecar/v2/acl.go
  pkg/sidecar/v2/dns.go
  pkg/sidecar/v2/server.go
Labels: area/connector, change/go, kind/bug, priority/P0, size/S

#797 fix: ignore golangci-lint staticcheck ST1005
  .golangci.yml
  cmd/cli/install.go
  cmd/cli/mesh_list.go
  cmd/cli/metrics.go
  cmd/cli/metrics_disable.go
  cmd/cli/metrics_enable.go
  cmd/cli/namespace_add.go
  cmd/cli/namespace_ignore.go
  cmd/cli/namespace_list.go
  cmd/cli/namespace_remove.go
  cmd/cli/policy_check_conflicts.go
  cmd/cli/policy_check_pods.go
  cmd/cli/proxy_get.go
  cmd/cli/support_bugreport.go
  cmd/cli/uninstall_mesh.go
  cmd/cli/util.go
  cmd/cli/version.go
  cmd/cli/version_test.go
  cmd/fsm-bootstrap/fsm-bootstrap.go
  cmd/fsm-controller/validate.go
  cmd/fsm-injector/fsm-injector.go
  cmd/fsm-preinstall/fsm-preinstall.go
  cmd/fsm-xnetmgmt/fsm-xnetmgmt.go
  pkg/bugreport/archive.go
  pkg/bugreport/namespace.go
  pkg/bugreport/run.go
  pkg/catalog/access_control.go
  pkg/catalog/ingress.go
  pkg/certificate/providers/config.go
  pkg/cli/proxy_get.go
  pkg/ingress/client.go
  pkg/ingress/gateway.go
  pkg/injector/exclusions.go
  pkg/injector/exclusions_test.go
  pkg/injector/metrics.go
  pkg/injector/webhook.go
  pkg/k8s/client.go
  pkg/k8s/errors.go
  pkg/k8s/portforward.go
  pkg/k8s/util.go
  pkg/logger/logger.go
  pkg/multicluster/errors.go
  pkg/policy/conflicts.go
  pkg/reconciler/errors.go
  pkg/sidecar/v1/providers/pipy/repo/broadcast.go
  pkg/trafficpolicy/trafficpolicy.go
  pkg/utils/json.go
  pkg/validator/server.go
  pkg/validator/validators.go
  pkg/webhook/builder/webhook.go
  pkg/webhook/builder/webhook_configuration.go
  tests/framework/common.go
  tests/framework/common_apps.go
  tests/framework/common_metrics.go
  tests/framework/common_traffic.go
  tests/framework/common_traffic_fortio.go
Labels: change/go, kind/bug, priority/P0, size/S, area/test
