Repository flomesh-io/fsm, pull requests merged in 2025-04, with the labels that each got.

#799 fix: increase k3d cluster CIDR range from /24 to /16
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  go.mod
  pkg/utils/image.go
  tests/framework/common.go
  tests/framework/k3d-cluster.yaml
  tests/framework/types.go
Labels: change/configuration, kind/bug, priority/P0, size/XS, area/test

#803 test: enable e2e bucket 7
  .env.example
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  charts/fsm/templates/_helpers.tpl
  scripts/k3d-with-registry.sh
  tests/framework/k3d-cluster.yaml
Labels: area/CI, change/github-actions, kind/bug, priority/P0, size/S, area/test

#817 fix: xnat cache key
  charts/fsm/templates/fsm-xnetwork.yaml
  pkg/sidecar/v2/dns.go
  pkg/sidecar/v2/e4lb.go
  pkg/sidecar/v2/server.go
  pkg/xnetwork/xnet/volume/types.go
Labels: area/service-mesh, change/go, kind/enhancement, priority/P1, size/S

#822 [backport] fix: default time unit in config should be seconds(release/v1.4)
  pkg/gateway/fgw/config.go
Labels: area/gateway-api, change/go, kind/bug, priority/P0, size/XS

#819 fix: only list EndpointSlice in the namespace of the service
  pkg/gateway/processor/v2/backends.go
Labels: area/gateway-api, change/go, kind/bug, priority/P0, size/XS

#821 fix: default time unit in config should be seconds
  pkg/gateway/fgw/config.go
Labels: area/gateway-api, change/go, kind/bug, priority/P0, size/XS

#823 feat: support configuring multiple elastic ips for one service.
  charts/fsm/templates/fsm-rbac.yaml
  cmd/fsm-bootstrap/crds/xnetwork.flomesh.io_eipadvertisements.yaml
  cmd/fsm-xnetmgmt/fsm-xnetmgmt.go
  pkg/apis/xnetwork/v1alpha1/eipadvertisement.go
  pkg/apis/xnetwork/v1alpha1/zz_generated.deepcopy.go
  pkg/gen/client/xnetwork/clientset/versioned/typed/xnetwork/v1alpha1/eipadvertisement.go
  pkg/sidecar/v2/e4lb.go
  pkg/sidecar/v2/e4lbtopo.go
  pkg/sidecar/v2/nodes.go
  pkg/sidecar/v2/server.go
  pkg/sidecar/v2/types.go
Labels: area/service-mesh, change/go, change/helm-chart, kind/enhancement, priority/P1, size/M

#824 fix: eip layout algorithm.
  pkg/sidecar/v2/e4lb.go
  pkg/sidecar/v2/e4lbtopo.go
Labels: area/service-mesh, change/go, kind/enhancement, priority/P1, size/S

#825 fix: optimize Elastic IP-based traffic routing implementations on EIP-bound announcement nodes.
  pkg/controllers/connector/v1alpha1/consul_controller.go
  pkg/controllers/connector/v1alpha1/eureka_controller.go
  pkg/controllers/connector/v1alpha1/gateway_controller.go
  pkg/controllers/connector/v1alpha1/machine_controller.go
  pkg/controllers/connector/v1alpha1/nacos_controller.go
  pkg/controllers/connector/v1alpha1/types.go
  pkg/controllers/connector/v1alpha1/zookeeper_controller.go
  pkg/sidecar/v2/e4lb.go
  pkg/sidecar/v2/e4lbtopo.go
Labels: area/service-mesh, change/go, kind/enhancement, priority/P1, size/S

#828 fix: connector issues.(release/v1.4)
  cmd/fsm-bootstrap/crds/connector.flomesh.io_consulconnectors.yaml
  cmd/fsm-bootstrap/crds/connector.flomesh.io_nacosconnectors.yaml
  pkg/apis/connector/v1alpha1/consul.go
  pkg/apis/connector/v1alpha1/nacos.go
  pkg/apis/connector/v1alpha1/zz_generated.deepcopy.go
  pkg/connector/cli/config.go
  pkg/connector/controller.go
  pkg/connector/provider/machine.go
  pkg/connector/provider/nacos.go
Labels: area/connector, change/go, kind/bug, priority/P1, size/S

#836 feat: ensure minimum version of k8s compatibility is 1.20
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .mergify.yml
  tests/framework/common.go
Labels: area/CI, change/github-actions, kind/enhancement, kind/tech-debt, priority/P0, size/XS
